@model IEnumerable<memberships.Areas.Admin.Entites.Part>
@*@model IEnumerable<memberships.Entites.Part>*@
@using memberships.Areas.Admin.Model;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.Partial("_CreateButtonPartial")
</p>
<table class="table table-striped">
    <tr class="success">
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.Partial("_TableButtonPartial", new SmallButtonModel { Id = item.Id })
            </td>
        </tr>
    }

</table>
